{% extends 'base.html' %} 

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Sistema Administrativo "INMGUR"</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum beatae adipisci blanditiis optio
      consequuntur animi at numquam ut cum dicta quis, assumenda vero consectetur. Amet, illum inventore
      exercitationem necessitatibus sapiente doloremque. Nostrum esse voluptates repellendus aspernatur.
      Repudiandae, cupiditate odio? Aliquid dolorum consequatur minus possimus! Ea iusto consectetur accusantium
      praesentium pariatur provident unde hic voluptate! Ipsa debitis magnam, reiciendis, delectus beatae quod
      adipisci, facilis laborum possimus animi sed laboriosam error totam minima soluta itaque vel eaque ducimus
      dicta id non suscipit! Voluptatibus voluptatem esse, dolor autem labore aliquid magnam amet culpa,
      consectetur nulla exercitationem porro at voluptatum accusamus deleniti, vitae commodi!</p>

      <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">SignIn</a>
        <a class="btn btn-dark" href="/signup/">SignUp</a>
      </div>
  </section>
</main>

{% endblock %}
