{% extends 'base.html' %} 

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h3 class="display-1 text-center">"SISIMUBGUA"</h3>
    <p>SISIMUBGUA es un sistema de informacion destinado a la gestión y control  del Instituto de la Casa 
      de la Mujer del Estado Bolivariano de Guárico , mediante un proceso carga de información de los 
      procesos de defensa y ayuda de los casos de cada mujer que llega al instituto  a una base de datos 
      y la observación de las autoridades pertinentes quienes serán los usuarios, hasta su completa 
      verificación al ser ejecutada la contratación por el departamento de recursos humanos, mediante la 
      implementación de este sistema se agilizará este proceso y a su vez tener un mejor control de la 
      información del personal que labora en dicha institución, para su desarrollo se estará 
      implementando Python bajo el patrón de diseño modelo-vista-controlador, y desarrollado por la 
      metodología de Programación Extrema(XP), la cual se adapta mejor al caso en cuestión por su 
      adaptabilidad y  desarrollo ágil e iterativo.
    </p>

      <div class="text-center">
        <a class="btn btn-dark" href="/signup/">Ingresar</a>
      </div>
  </section>
</main>

{% endblock %}
